.navbar{
  background-color: #ACFADF;
}

.navbar-brand{
  margin-left: 100px;
  font-size:40px;
}
.navbar-nav{
  font-size: 25px;
  margin-left:auto;

}
.nav_item{
  padding: 30px;
}
.row{
  text-align: center;
  padding: 55px;
}
img{
max-width: 300px;
width: 300px;
height: 300px;
}
.mk{
  padding: 80px;
}
.manoj{

  padding: 35px;
  color: orange;

}
.card{

  width: 1200px;
margin: 80px;
background-color: #ACFADF;
box-shadow:0PX 0PX 10PX RED;
border-radius: 10px;
overflow: hidden;
transition: box-shadow 0.3s ease-in-out;
}
.bottom-section{
  text-align: center;
  font-size: 25px;
}
.footer-link{
  padding: 30px;
}
body{
  background-color: black;
}
.k{
  border-radius: 400px;
}
